h1 {
    padding: 60px;
    text-align: center;
    color: black;
    font-size: xx-large;
    background-color: orangered;
}

h3 {
    text-align: center;
    font-size: x-large;
}

table {
    width :100%;
    display: inline-table;
    font-size: larger;
    color: blue;
}

table, th, td {
    border : black solid 1px;
    border-collapse : collapse;
    padding: 0.5%;
}

