body {
    margin: 0;
}

h1 {
    text-align: center;
    color: black;
}

table {
    font-family: 'Times New Roman', serif;
    font-size: small;
    color: blue;
    width: 100%;
    border-collapse: collapse;
}

td {
    border : black solid 2.5px;
    text-align: left;
    width: 50%
}

#partySeats { /* EVEN SPACING */
    width: 40%;
}

#partyVotePercent { /* EVEN SPACING */
    width: 10%;
}

th {
    border : black solid 2.5px;
    text-align: center;
    border-top: 0px; /* REMOVE DOUBLE BORDER*/
    background-color: orange;
    color: black;
}

#candidateParty { /* EVEN SPACING */
    width: 40%
}

#candidateVotes { /* EVEN SPACING */
    width: 10%
}


